body {
    color: white;
}

.errors-block {
    position: absolute;
    left:-240px;
    display: block;
    width: 240px;
    padding: 16px;
    border-radius: 8px;
    list-style: none;
    display:none;
    
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.errors-block li {
    
    
}
h1 {
    margin-bottom: 48px;
    font-size: 28px;
    line-height: 1;
}
.form-wp {
    position: relative;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
}
input[type="button"] {
    margin-top: 32px; 
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}